body {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.divext{
    background: #084f85;
    padding: 50px;
    color:#c9d4ee;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top:25px
}

.divint{
  background: #003b67;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
}

.titulo{
  color:white;
  padding:50px;
  font-size: xx-large;
  font-weight: 900;
  display: inline-block;
}

.centro{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.moneda{
   font-weight: 600;
}

.ml-1{
  margin-left: 0.5rem;
}

.mr-4{
  margin-right: 2rem;
}
